@using DogCarePlatform.Common
@using DogCarePlatform.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Linq
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        @RenderSection("styles", false)
        <!--Import materialize.css-->
        <link rel="stylesheet" href="~/css/materialize.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    </environment>
    <environment names="Staging,Production">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="~/css/materialize.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    </environment>
</head>
<body id="bg-color">
    <header>
        <nav class="#26a69a teal lighten-1" id="nav-bar-part">
            <div class="nav-wrapper">
                <a style="margin-left: 1%; margin-top: 0.5%;" class="brand-logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://res.cloudinary.com/add cloud name here/image/upload/v1587718044/94233950_1490558307789586_335478138848935936_n.png_axwa7j.png" height="64" width="160" class="responsive-img" id="img-logo"></a>
                <a href="#" class="sidenav-trigger" data-target="mobile-nav"><i class="material-icons left-align">menu</i></a>
                <ul id="nav-mobile home-page" class="right hide-on-med-and-down">
                    <partial name="_LoginPartial" />
                    @if (this.SignInManager.IsSignedIn(this.User) && User.IsInRole(GlobalConstants.OwnerRoleName))
                    {
                        <li><a asp-area="" asp-controller="Owner" asp-action="FindDogsitter"><i class="material-icons left">search</i>Намери кучегледач</a></li>
                        <li><a asp-area="" asp-controller="Appointment" asp-action="OwnerAppointments" asp-route-id="@this.UserManager.GetUserId(this.User)"><i class="material-icons left">assignment</i>Уговорени часове</a></li>
                        <li><a asp-area="" asp-controller="Comment" asp-action="ListOwnerComments" asp-route-id="@this.UserManager.GetUserId(this.User)"><i class="material-icons left">comments</i>Отзиви</a></li>
                    }
                    else if (this.SignInManager.IsSignedIn(this.User) && User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <li><a asp-area="Administration" asp-controller="Dashboard" asp-action="RegulationPage">Контролна страница</a></li>
                    }
                    else if (this.SignInManager.IsSignedIn(this.User) && User.IsInRole(GlobalConstants.DogsitterRoleName))
                    {
                        <li><a asp-area="" asp-controller="Appointment" asp-action="DogsitterAppointments" asp-route-id="@this.UserManager.GetUserId(this.User)"><i class="material-icons left">assignment</i>Уговорени часове</a></li>
                        <li><a asp-area="" asp-controller="Comment" asp-action="ListDogsitterComments" asp-route-id="@this.UserManager.GetUserId(this.User)"><i class="material-icons left">comments</i>Отзиви</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/RegisterDogsitter">Кандидатствай</a></li>
                    }
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-nav">
            <partial name="_LoginPartial" />
            @if (this.SignInManager.IsSignedIn(this.User) && User.IsInRole(GlobalConstants.OwnerRoleName))
            {
                <li><a asp-area="" asp-controller="Owner" asp-action="FindDogsitter"><i class="material-icons left">search</i>Намери кучегледачка</a></li>
                <li><a asp-area="" asp-controller="Appointment" asp-action="OwnerAppointments" asp-route-id="@this.UserManager.GetUserId(this.User)"><i class="material-icons left">assignment</i>Уговорени часове</a></li>
                <li><a asp-area="" asp-controller="Comment" asp-action="ListOwnerComments" asp-route-id="@this.UserManager.GetUserId(this.User)"><i class="material-icons left">comments</i>Отзиви</a></li>
            }
            else if (this.SignInManager.IsSignedIn(this.User) && User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li><a asp-area="Administration" asp-controller="Dashboard" asp-action="RegulationPage">Контролна страница</a></li>
            }
            else if (this.SignInManager.IsSignedIn(this.User) && User.IsInRole(GlobalConstants.DogsitterRoleName))
            {
                <li><a asp-area="" asp-controller="Appointment" asp-action="DogsitterAppointments" asp-route-id="@this.UserManager.GetUserId(this.User)"><i class="material-icons left">assignment</i>Уговорени часове</a></li>
                <li><a asp-area="" asp-controller="Comment" asp-action="ListDogsitterComments" asp-route-id="@this.UserManager.GetUserId(this.User)"><i class="material-icons left">comments</i>Отзиви</a></li>
            }
            else
            {
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
                <li><a asp-area="Identity" asp-page="/Account/RegisterDogsitter">Кандидатствай</a></li>
            }
        </ul>
    </header>


    @*<partial name="_CookieConsentPartial" />*@
    <main role="main" class="pb-3" id="preloader-hide">
        @*<button hidden id="btn-toast"></button>*@
        <div class="container" id="container-div">
            @this.RenderBody()
        </div>
    </main>

    <footer class="page-footer #4db6ac teal lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text"></h5>
                    <p class="grey-text text-lighten-4">

                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    @*<ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>*@
                </div>
            </div>
        </div>
        <div class="footer-copyright #26a69a teal lighten-1">
            <div class="container ">
                &copy; @DateTime.Now.Year - Pal4Paw - <a class="amber-text" asp-area="" asp-controller="Home" asp-action="Privacy">Политика за опазване на лични данни</a>
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <environment names="Development">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="~/js/materialize.js"></script>

        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/refreshDocument.js"></script>
        <script src="~/js/toast.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.sidenav').sidenav();
                $('.collapsible').collapsible();
                $('select').formSelect();
                $('.modal').modal();
                $('.dropdown-trigger').dropdown();
                $(".dropdown-trigger").dropdown();
            });
        </script>
    </environment>

    <environment names="Staging,Production">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="~/js/materialize.js"></script>

        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/refreshDocument.js"></script>
        <script src="~/js/toast.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.sidenav').sidenav();
                $('.collapsible').collapsible();
                $('select').formSelect();
                $('.modal').modal();
                $('.dropdown-trigger').dropdown();
                $(".dropdown-trigger").dropdown();
            });
        </script>
    </environment>
    @this.RenderSection("Scripts", required: false)
</body>
</html>
