@using DogCarePlatform.Common
@using DogCarePlatform.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Linq
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ 
    var user = await this.UserManager.GetUserAsync(this.User);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="~/css/materialize.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    </environment>
    <environment names="Staging,Production">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    </environment>
</head>
<body>
    <header>
        <nav class="#80cbc4 teal lighten-3">
            <div class="nav-wrapper">
                <a style="padding: 0px 20px;" class="brand-logo" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <partial name="_LoginPartial" />
                    @if (this.SignInManager.IsSignedIn(this.User) && User.IsInRole(GlobalConstants.OwnerRoleName))
                    {
                        <li><a asp-area="" asp-controller="Owner" asp-action="FindDogsitter">Намери кучегледачка</a></li>
                        <li><a asp-area="" asp-controller="Appointment" asp-action="OwnerAppointments" asp-route-id="@this.UserManager.GetUserId(this.User)">Уговорени часове</a></li>
                        <li><a asp-area="" asp-controller="Chat" asp-action="Messages">Съобщения</a></li>
                    }
                    else if (this.SignInManager.IsSignedIn(this.User) && User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <li><a asp-area="Administration" asp-controller="Dashboard" asp-action="RegulationPage">Контролна страница</a></li>
                    }
                    else if (this.SignInManager.IsSignedIn(this.User) && User.IsInRole(GlobalConstants.DogsitterRoleName))
                    {
                        <li><a asp-area="" asp-controller="Scheduler" asp-action="Index" asp-route-id="@user.Dogsitters.FirstOrDefault().Id">График</a></li>
                        <li><a asp-area="" asp-controller="Appointment" asp-action="DogsitterAppointments" asp-route-id="@this.UserManager.GetUserId(this.User)">Уговорени часове</a></li>
                        <li><a asp-area="" asp-controller="Chat" asp-action="Messages">Съобщения</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="HowItWorks">Как работи</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Pricing">Цени</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/RegisterDogsitter">Кандидатствай</a></li>
                    }
                </ul>
            </div>
        </nav>
    </header>


    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        <div class="container">
            @this.RenderBody()
        </div>
    </main>

    <footer class="page-footer #80cbc4 teal lighten-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">

                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    @*<ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>*@
                </div>
            </div>
        </div>
        <div class="footer-copyright #4db6ac teal lighten-2">
            <div class="container ">
                &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <environment names="Development">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="~/js/materialize.js"></script>
        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script>
            notificationConnection.on("refreshUI", () => {
                $("#friends-container").load("/friend/list");
            });
        </script>
        <script>
            $(document).ready(function () {
                $('.dropdown-trigger').dropdown();
            });
        </script>
        <script>
            $(document).ready(function () {
                $('select').formSelect();

            });
        </script>     
        <script>
            var notificationConnection;
            openConnection();

            function openConnection() {
                notificationConnection = new signalR.HubConnection("/notificationHub");
                notificationConnection
                    .start()
                    .catch(() => {
                        alert("Error while establishing connection");
                    });
            }

            notificationConnection.on("sendNotification", (user) => {
                let notification = user.Notifications[user.Notifications.length - 1];
                $("#dropdown1").innerHTML += `<li>
                                    <a asp-controller="Appointment" asp-action="GetAppointmentFromNotification" asp-route-id="${notification.Id}">
                                        ${notification.Content}
                                    </a>
                                </li>
                                <li class="divider" tabindex="1"></li>`;
                $("#dropdown1").load("/");
            });

            friendConnection.on("removed", (user) => {
                $("#notifications").html("REMOVED by <b>" + user + "</b>");
                $("#friends-container").load("/friend/list").css("background", "#ffa");
                window.setTimeout(function () {
                    $("#notifications").html("NOTIFICATIONS");
                    $("#friends-container").css("background", "");
                },
                    10000);
            });
        </script>
    </environment>

    <environment names="Staging,Production">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script>
            $(document).ready(function () {
                $('.dropdown-trigger').dropdown();
            });
        </script>
        <script>
            $(document).ready(function () {
                $('select').formSelect();

            });
        </script>
        <script>
            $('.modal').modal();
            //this are my init
            $(document).ready(function () {
                $('select').formSelect();
            });
            $('.datepicker').datepicker({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year
                format: 'yyyy-mm-dd',
                minDate: new Date(1900, 1, 1),
                maxDate: new Date(),
            });
        </script>
    </environment>
    @this.RenderSection("Scripts", required: false)
</body>
</html>
