@model DogCarePlatform.Web.ViewModels.Comment.RateAndCommentInputModel

<div class="modal-content">
    <div class="container">
        <div class="hreview-aggregate">
            <div asp-validation-summary="All" class="red-text"></div>
            <div>
                <div class="col s12 m6 l6 center">
                    <meta itemprop="worstRating" content="1">
                    <meta itemprop="bestRating" content="5">
                    <meta itemprop="reviewCount" content="1">
                    <div class="row">
                        <div class="row">
                            <h4 class="waves-effect col s12">Дайте своята оценка</h4>
                        </div>
                        @*@if (Model.Owner.Rating.Any())
                            {

                                @Model.Owner.Rating.Average(r => r.Score)

                            }
                            else
                            {
                                Html.Raw(0);
                            }*@
                        <div class="rating-stars row">
                            <form method="post">
                                <input type="radio" name="stars" id="star-null">
                                <input type="radio" name="stars" value="1" id="star-1" saving="1" data-start="1" checked="" asp-for="@Model.Score">
                                <input type="radio" name="stars" value="2" id="star-2" saving="2" data-start="2" checked="" asp-for="@Model.Score">
                                <input type="radio" name="stars" value="3" id="star-3" saving="3" data-start="3" checked="" asp-for="@Model.Score">
                                <input type="radio" name="stars" value="4" id="star-4" saving="4" data-start="4" checked="" asp-for="@Model.Score">
                                <input type="radio" name="stars" value="5" id="star-5" saving="5" checked="" asp-for="@Model.Score">
                                <section class="col s3">
                                    <label for="star-1">
                                        <svg width="255" height="240" viewBox="0 0 51 48">
                                            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"></path>
                                        </svg>
                                    </label>
                                    <label for="star-2">
                                        <svg width="255" height="240" viewBox="0 0 51 48">
                                            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"></path>
                                        </svg>
                                    </label>
                                    <label for="star-3">
                                        <svg width="255" height="240" viewBox="0 0 51 48">
                                            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"></path>
                                        </svg>
                                    </label>
                                    <label for="star-4">
                                        <svg width="255" height="240" viewBox="0 0 51 48">
                                            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"></path>
                                        </svg>
                                    </label>
                                    <label for="star-5">
                                        <svg width="255" height="240" viewBox="0 0 51 48">
                                            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"></path>
                                        </svg>
                                    </label>
                                </section>
                                <div class="input-field col s9 right" style="padding-bottom: 20px;">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="textarea2" class="materialize-textarea" data-length="250" asp-for="@Model.Content"></textarea>
                                    <label for="textarea2" asp-for="@Model.Content">Коментар</label>
                                    <span asp-validation-for="@Model.Content"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="rating-histogram col s12 m6 l6">
                    <div class="rating-bar-container five">
                        <span class="bar-label">
                            <span class="star-tiny">
                            </span> 5
                        </span>
                        <span class="bar">
                        </span>
                        <span class="bar-number">
                            1
                        </span>
                    </div>
                    <div class="rating-bar-container four">
                        <span class="bar-label">
                            <span class="star-tiny">
                            </span> 4
                        </span>
                        <span class="bar">
                        </span>
                        <span class="bar-number">
                            1
                        </span>
                    </div>
                    <div class="rating-bar-container tree">
                        <span class="bar-label">
                            <span class="star-tiny">
                            </span> 3
                        </span>
                        <span class="bar">
                        </span>
                        <span class="bar-number">
                            1
                        </span>
                    </div>
                    <div class="rating-bar-container two">
                        <span class="bar-label">
                            <span class="star-tiny">
                            </span> 2
                        </span>
                        <span class="bar">
                        </span>
                        <span class="bar-number">
                            1
                        </span>
                    </div>
                    <div class="rating-bar-container one">
                        <span class="bar-label">
                            <span class="star-tiny">
                            </span> 1
                        </span>
                        <span class="bar">
                        </span>
                        <span class="bar-number">
                            1
                        </span>
                    </div>
                </div>*@
        </div>
    </div>

</div>

<div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
</div>


