@page
@model DogCarePlatform.Web.Areas.Identity.Pages.Account.RegisterOwnerModel
@using Microsoft.Extensions.Options
@inject IOptions<DogCarePlatform.Web.ViewModels.ReCAPTCHASettings> GoogleReCAPTCHA
@{
    ViewData["Title"] = "Регистрация на собственик";
}

<h1>@ViewData["Title"]</h1>


<div class="row">
    <div class="col s6">
        <form asp-route-returnUrl="@Model.ReturnUrl" enctype="multipart/form-data" method="post">
            <h5>Създаване на нов акаунт.</h5>
            <hr />
            <div asp-validation-summary="All" class="red-text"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="red-text"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="red-text"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="red-text"></span>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate" asp-for="Input.FirstName">
                    <label for="icon_prefix">Име</label>
                    <span asp-validation-for="Input.FirstName" class="red-text"></span>
                </div>
                <div class="input-field col s4">
                    <input id="middle_name" type="text" class="validate" asp-for="Input.MiddleName">
                    <label>Презиме</label>
                    <span asp-validation-for="Input.MiddleName" class="red-text"></span>
                </div>
                <div class="input-field col s4">
                    <input id="last_name" type="text" class="validate" asp-for="Input.LastName">
                    <label>Фамилия</label>
                    <span asp-validation-for="Input.LastName" class="red-text"></span>
                </div>
            </div>
            @*<div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">date_range</i>
                        <input id="icon_prefix disabled" readonly placeholder="Въведете дата на раждане"  type="text" class="datepicker">
                        <label for="icon_prefix disabled">Дата на раждане</label>
                    </div>
                </div>*@
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">face</i>
                    <select id="icon_prefix" asp-for="Input.Gender">
                        <option value="1">Мъж</option>
                        <option value="2">Жена</option>
                    </select>
                    <label for="icon_prefix">Пол</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">phone</i>
                    <input id="icon_telephone" type="tel" class="validate" asp-for="Input.PhoneNumber">
                    <label for="icon_telephone">Телефонен номер</label>
                    <span asp-validation-for="Input.PhoneNumber" class="red-text"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">local_post_office</i>
                    <input id="icon_telephone" type="text" class="validate" asp-for="Input.Address">
                    <label for="icon_telephone">Адрес</label>
                    <span asp-validation-for="Input.Address" class="red-text"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" length="500" asp-for="Input.Description"></textarea>
                    <label for="textarea1">Описание на вашите кучета</label>
                    <span asp-validation-for="Input.Description" class="red-text"></span>
                </div>
            </div>
            <div class="row">
                <div class="file-field input-field">
                    <div class="#ffe082 amber lighten-3 waves-effect teal-text z-depth-3 btn">
                        <span>File</span>
                        <input type="file" asp-for="Input.ImageFile">
                    </div>
                    <span asp-validation-for="Input.ImageUrl" class="red-text"></span>
                    <div class="file-path-wrapper">
                        <input asp-for="Input.ImageUrl" class="file-path validate" type="text" placeholder="Профилна снимка">
                    </div>
                </div>
            </div>
            <p>
                Натискайки бутона "Регистрация", вие потвърждавате, че сте запознати и съгласни с нашата
                <a href="/Home/Privacy">политика за опазване на личните данни</a>
            </p>
            <button class="#ffe082 amber lighten-3 waves-effect btn teal-text z-depth-3 right" type="submit" name="action">
                Регистрация
                <i class="material-icons right">check</i>
            </button>
        </form>
    </div>
    <div class="col s6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleReCAPTCHA.Value.ReCAPTCHA_Site_Key"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('_reCAPTCHA_site_key_', { action: 'homepage' }).then(function (token) {

            });
        });
    </script>

    <script>
        // Initialize text area
        document.addEventListener('DOMContentLoaded', function () {
            var textNeedCount = document.querySelectorAll('#input_text, #textarea1');
            M.CharacterCounter.init(textNeedCount);
        });
    </script>

    <script>
        // Initialize materialize select form.
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var options = document.querySelectorAll('option');
            var instances = M.FormSelect.init(elems, options);
        });
    </script>
}