@model DogCarePlatform.Web.ViewModels.Administration.Dashboard.ApplicantViewModel
@{
    ViewData["Title"] = "ApplicantById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>

<div class="card medium">
    <div class="card-content row">
        <div class="col s6">
            <div class="card-panel grey lighten-4">
                <ul class="center">
                    <li class="collection-item avatar">
                        <i class="medium material-icons">contact_mail</i>
                        <div class="title">@Model.Email</div>
                        <p>Email</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s6">
            <div class="card-panel grey lighten-4">
                <ul class="center">
                    <li class="collection-item avatar">
                        <i class="medium material-icons prefix">local_phone</i>
                        <div class="title">@Model.PhoneNumber</div>
                        <p>Телефонен номер</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
            @foreach (var questionAnswer in Model.QuestionsAnswers)
            {

                <li class="tab"><a href="#@questionAnswer.Id">Въпрос @questionAnswer.Question.Last()</a></li>
            }
        </ul>
    </div>
    <div class="card-content grey lighten-4">
        @foreach (var questionAnswer in Model.QuestionsAnswers)
        {
            <div id="@questionAnswer.Id">
                <h5>@questionAnswer.Question</h5>
                @questionAnswer.Answer
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        var elem = document.querySelector('.tabs');
        var instance = M.Tabs.init(elem, {});
    </script>
}