@model DogCarePlatform.Web.ViewModels.Administration.Dashboard.ApplicantViewModel
@{
    ViewData["Title"] = "ApplicantById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card large">
    <div class="card-content row">
        <div class="col s6">
            <div class="card-panel grey lighten-4">
                <ul class="center">
                    <li class="collection-item avatar">
                        <i class="medium material-icons">contact_mail</i>
                        <div class="title">@Model.Email</div>
                        <p>Email</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s6">
            <div class="card-panel grey lighten-4">
                <ul class="center">
                    <li class="collection-item avatar">
                        <i class="medium material-icons prefix">local_phone</i>
                        <div class="title">@Model.PhoneNumber</div>
                        <p>Телефонен номер</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
            @{var counter = 1; }
            @foreach (var questionAnswer in Model.QuestionsAnswers)
            {
                <li class="tab"><a href="#@questionAnswer.Id">Въпрос @counter</a></li>
                counter++;
            }
        </ul>
    </div>
    <div class="card-content grey lighten-4">
        @foreach (var questionAnswer in Model.QuestionsAnswers)
        {
            <div id="@questionAnswer.Id">
                <h5>@questionAnswer.Question</h5>
                @questionAnswer.Answer
            </div>
        }
    </div>
</div>
<div class="col s2 right">
    <a asp-area="Administration" asp-controller="Dashboard" asp-action="RegulateApplicants" class="btn waves-effect waves-light #fff59d yellow lighten-3 teal-text" type="submit" name="action">
        Назад
        <i class="material-icons right teal-text">arrow_back</i>
    </a>
    <!-- Modal Trigger -->
    <a class="btn waves-effect waves-light #e64a19 deep-orange darken-2 modal-trigger" href="#modal1">
        Отхвърли
        <i class="material-icons right">clear</i>
    </a>
    <!-- Modal Trigger -->
    <a class="btn waves-effect waves-light #4caf50 green modal-trigger" href="#modal2">
        Одобри
        <i class="material-icons right">check</i>
    </a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Внимание!</h4>
            <p>На път сте да отхвърлите заявлението на кандидат @Model.Email. Заявката ще бъде изтрита. Сигурни ли сте че искате да продължите?</p>
        </div>
        <div class="modal-footer">
            <form method="post" asp-action="RejectApplicant" asp-route-id="@Model.Id">
                <button type="submit" class="modal-close waves-effect waves-green btn-flat">Да</button>
                <a href="#!" type="submit" class="modal-close waves-effect waves-green btn-flat btn">Не</a>
            </form>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Внимание!</h4>
            <p>На път сте да одобрите кандидат @Model.Email. Заявката ще бъде приета и ще бъде създаден нов акаунт на кучегледачка с елекетронна поща: @Model.Email. Сигурни ли сте че искате да продължите?</p>
        </div>
        <div class="modal-footer">
            <form method="post" asp-action="ApproveApplicant" asp-route-id="@Model.Id">
                <button type="submit" class="modal-close btn waves-effect waves-green btn-flat">Да</button>
                <a href="#!" class="btn modal-close waves-effect waves-green btn-flat">Не</a>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var elem = document.querySelector('.tabs');
        var instance = M.Tabs.init(elem, {});
    </script>
    <script>
        $(document).ready(function () {
            $('.modal').modal();
        });
    </script>
}