@model DogCarePlatform.Web.ViewModels.Administration.Dashboard.UnapprovedUsersViewModel

@{
    TempData["Hello"] = "Здравей!";
    TempData["RegulateApplicants"] = "Достъпихте страницата за регулиране на кандидати.";
    ViewData["Title"] = "RegulateApplicants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="center">Регулиране на кандидати</h2>

<table class="responsive-table highlight">
    <thead>
        <tr>
            <th>Дата на подаване</th>
            <th>Еmail</th>
            <th>Телефонен номер</th>
            <th>Управление</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var applicant in Model.Applicants)
        {
            <tr>
                <td>@applicant.CreatedOn</td>
                <td>@applicant.Email</td>
                <td>@applicant.PhoneNumber</td>
                <td>
                    <a class="tooltipped btn #ffeb3b yellow teal-text" data-position="right" data-tooltip="Повече информация" asp-area="Administration" asp-controller="Dashboard" asp-action="ApplicantById" asp-route-id="@applicant.Id">Детайли</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.tooltipped').tooltip();
        });
    </script>
    <script>
        $(document).ready(function () {
            if ('@TempData["isSuccessful"]' == '') {
                window.M.toast({html: '@TempData["RegulateApplicants"]'}, 5000);
            } else {
                window.M.toast({html: '@TempData["isSuccessful"]'}, 5000);
            }
        });
    </script>
}