@model List<DogCarePlatform.Web.ViewModels.Appointment.AppointmentViewModel>
@using DogCarePlatform.Common
@using System.Globalization
@{
    ViewData["Title"] = GlobalConstants.ListDogsitterAppointments;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Вашите уговорки</h3>
<hr />
<div class="row">
    <div class="col s3 push-s9">
        <div class="card-panel hoverable" style="position: fixed; padding-top: 50px;">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="https://res.cloudinary.com/add cloud name here/image/upload/v1586556068/processed_phlgmf.png" alt="" class="circle responsive-img">
                </div>
                <div class="col s10">
                    <span class="black-text">
                        Завършени уговорки
                    </span>
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="https://res.cloudinary.com/add cloud name here/image/upload/v1586556068/unprocessed_vlcxzg.png" alt="" class="circle responsive-img">
                </div>
                <div class="col s10">
                    <span class="black-text">
                        Предстоящи уговорки
                    </span>
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="https://res.cloudinary.com/add cloud name here/image/upload/v1586556068/happening_qmzhsf.png" alt="" class="circle responsive-img">
                </div>
                <div class="col s10">
                    <span class="black-text">
                        Уговорки в процес
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @foreach (var appointment in Model.OrderByDescending(a => a.Date).ThenBy(a => a.StartTime.Hour))
    {
        if (appointment.AppointmentStatus == DogCarePlatform.Data.Models.AppointmentStatus.Unprocessed)
        {
            <div class="row">
                <div class="col s5 m6 l7 #ffca28 amber lighten-1">
                    <ul class="collapsible scale-transition" id="collapsible-body">
                        <li>
                            <div class="collapsible-header">
                                <img style="padding: 10px 10px 10px 10px;" class="circle responsive-img valign-wrapper" src="@appointment.Owner.ImageUrl" />
                                <h6>
                                    @appointment.Owner.FirstName @appointment.Owner.LastName<br />
                                    <p>
                                        Време на уговорката: <b class="amber-text text-darken-1"> @appointment.StartTime.ToString("HH:mm")</b>&nbspдо&nbsp
                                        <b class="amber-text text-darken-1"> @appointment.EndTime.ToString("HH:mm")</b>
                                    </p>
                                </h6>
                            </div>
                            <div class="collapsible-body #fff8e1 amber lighten-5">
                                <span>Дата: @appointment.Date.ToString("dddd, dd MMMM yyyy", new CultureInfo("bg-BG"))</span>
                                <hr />
                                <div>
                                    <h6 class="valign-wrapper">
                                        Адрес: @appointment.Owner.Address
                                    </h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        }
        else if (appointment.AppointmentStatus == DogCarePlatform.Data.Models.AppointmentStatus.Happening)
        {
            <div class="row">
                <div class="col s5 m6 l7 #81d4fa light-blue lighten-3">
                    <ul class="collapsible scale-transition" id="collapsible-body">
                        <li>
                            <div class="collapsible-header">
                                <img style="padding: 10px 10px 10px 10px;" class="circle responsive-img valign-wrapper" src="@appointment.Owner.ImageUrl" />
                                <h6>
                                    @appointment.Owner.FirstName @appointment.Owner.LastName<br />
                                    <p>
                                        Време на уговорката: <b class="amber-text text-darken-1"> @appointment.StartTime.ToString("HH:mm")</b>&nbspдо&nbsp
                                        <b class="amber-text text-darken-1"> @appointment.EndTime.ToString("HH:mm")</b>
                                    </p>
                                </h6>
                            </div>
                            <div class="collapsible-body">
                                <span>Дата: @appointment.Date.ToString("dddd, dd MMMM yyyy", new CultureInfo("bg-BG"))</span>
                                <hr />
                                <div>
                                    <h6 class="valign-wrapper">
                                        Адрес: @appointment.Owner.Address
                                    </h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col s5 m6 l7 #eeeeee grey lighten-3">
                    <ul class="collapsible scale-transition" id="collapsible-body">
                        <li>
                            <div class="collapsible-header">
                                <img style="padding: 10px 10px 10px 10px;" class="circle responsive-img valign-wrapper" src="@appointment.Owner.ImageUrl" />
                                <h6>
                                    @appointment.Owner.FirstName @appointment.Owner.LastName<br />
                                    <p>
                                        Време на уговорката: <b class="amber-text text-darken-1"> @appointment.StartTime.ToString("HH:mm")</b>&nbspдо&nbsp
                                        <b class="amber-text text-darken-1"> @appointment.EndTime.ToString("HH:mm")</b>
                                    </p>
                                </h6>
                            </div>
                            <div class="collapsible-body">
                                <span>Дата: @appointment.Date.ToString("dddd, dd MMMM yyyy", new CultureInfo("bg-BG"))</span>
                                <hr />
                                <div>
                                    <h6 class="valign-wrapper">
                                        Адрес: @appointment.Owner.Address
                                    </h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        }
    }    
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
    </script>
}