@model List<DogCarePlatform.Web.ViewModels.Appointment.AppointmentViewModel>
@using DogCarePlatform.Common
@using System.Globalization
@{
    ViewData["Title"] = GlobalConstants.ListDogsitterAppointments;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="teal-text">Вашите уговорки</h3>
<hr />
<div class="row">
    <div class="col s8">
        @foreach (var appointment in Model)
        {
            if (appointment.AppointmentStatus == DogCarePlatform.Data.Models.AppointmentStatus.Unprocessed)
            {
                <div class="row">
                    <div class="col s9 m9 l9 #ffca28 amber lighten-1">
                        <ul class="collapsible scale-transition" id="collapsible-body">
                            <li>
                                <div class="collapsible-header">
                                    <img style="padding: 10px 10px 10px 10px;" class="circle responsive-img valign-wrapper" src="@appointment.Owner.ImageUrl" />
                                    <h6>
                                        @appointment.Owner.FirstName @appointment.Owner.LastName<br />
                                        <p>
                                            Време на уговорката: <b class="amber-text text-darken-1"> @appointment.StartTime.ToString("HH:mm")</b>&nbspдо&nbsp
                                            <b class="amber-text text-darken-1"> @appointment.EndTime.ToString("HH:mm")</b>
                                        </p>
                                    </h6>
                                </div>
                                <div class="collapsible-body #fff8e1 amber lighten-5">
                                    <span>Дата: @appointment.Date.ToString("dddd, dd MMMM yyyy", new CultureInfo("bg-BG"))</span>
                                    <hr />
                                    <div>
                                        <h6 class="valign-wrapper">
                                            Адрес: @appointment.Owner.Address
                                        </h6>
                                    </div>
                                    <div class="row">
                                        @if (appointment.Date.ToString("dd-MM-yyyy").Equals(DateTime.Now.ToString("dd-MM-yyyy")))
                                        {
                                            <form class="valign-wrapper" method="post" asp-controller="Appointment" asp-action="StartAppointment" asp-route-id="@appointment.Id">
                                                <button class="col s4 btn waves-effect waves-light #ffd54f amber lighten-2 black-text text-lighten-1" type="submit">Започни</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <p class="col s6" disabled>Време до уговорката: <b class="blue-text text-darken-1">@((appointment.Date-DateTime.UtcNow).ToString("dd"))</b> дни</p>
                                        }
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            }
            else if (appointment.AppointmentStatus == DogCarePlatform.Data.Models.AppointmentStatus.Happening)
            {
                <div class="row">
                    <div class="col s9 m9 l9 #81d4fa light-blue lighten-3 pulse">
                        <ul class="collapsible scale-transition" id="collapsible-body">
                            <li>
                                <div class="collapsible-header">
                                    <img style="padding: 10px 10px 10px 10px;" class="circle responsive-img valign-wrapper" src="@appointment.Owner.ImageUrl" />
                                    <h6>
                                        @appointment.Owner.FirstName @appointment.Owner.LastName<br />
                                        <p>
                                            Време на уговорката: <b class="amber-text text-darken-1"> @appointment.StartTime.ToString("HH:mm")</b>&nbspдо&nbsp
                                            <b class="amber-text text-darken-1"> @appointment.EndTime.ToString("HH:mm")</b>
                                        </p>
                                    </h6>
                                </div>
                                <div class="collapsible-body #b3e5fc light-blue lighten-4">
                                    <span>Дата: @appointment.Date.ToString("dddd, dd MMMM yyyy", new CultureInfo("bg-BG"))</span>
                                    <hr />
                                    <div>
                                        <h6 class="">
                                            Адрес: @appointment.Owner.Address
                                        </h6>
                                    </div>
                                    <div class="row">
                                        <form class="valign-wrapper" method="post" asp-controller="Appointment" asp-action="EndAppointment" asp-route-id="@appointment.Id">
                                            <button class="col s4 btn waves-effect waves-light blue lighten-1" type="submit">Завърши</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col s9 m9 l9 #eeeeee grey lighten-3" style="opacity: .5;">
                        <ul class="collapsible scale-transition" id="collapsible-body">
                            <li>
                                <div class="collapsible-header">
                                    <img style="padding: 10px 10px 10px 10px;" class="circle responsive-img valign-wrapper" src="@appointment.Owner.ImageUrl" />
                                    <h6>
                                        @appointment.Owner.FirstName @appointment.Owner.LastName<br />
                                        <p>
                                            Време на уговорката: <b class="amber-text text-darken-1"> @appointment.StartTime.ToString("HH:mm")</b>&nbspдо&nbsp
                                            <b class="amber-text text-darken-1"> @appointment.EndTime.ToString("HH:mm")</b>
                                        </p>
                                    </h6>
                                </div>
                                <div class="collapsible-body">
                                    <span>Дата: @appointment.Date.ToString("dddd, dd MMMM yyyy", new CultureInfo("bg-BG"))</span>
                                    <hr />
                                    <div>
                                        <h6 class="valign-wrapper">
                                            Адрес: @appointment.Owner.Address
                                        </h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        }
    </div>

    <div class="col s4">
        <div class="card-panel hoverable">
            <form>
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="https://res.cloudinary.com/add cloud name here/image/upload/v1586556068/processed_phlgmf.png" alt="" class="circle responsive-img">
                    </div>
                    <div class="col s10">
                        <p>
                            <label>
                                <span>Завършени уговорки</span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="https://res.cloudinary.com/add cloud name here/image/upload/v1586556068/unprocessed_vlcxzg.png" alt="" class="circle responsive-img">
                    </div>
                    <div class="col s10">
                        <p>
                            <label>
                                <span>Предстоящи уговорки</span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="https://res.cloudinary.com/add cloud name here/image/upload/v1586556068/happening_qmzhsf.png" alt="" class="circle responsive-img">
                    </div>
                    <div class="col s10">
                        <p>
                            <label>
                                <span>Уговорки в процес</span>
                            </label>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
    </script>
}
