@model List<DogCarePlatform.Web.ViewModels.Appointment.AppointmentViewModel>
@using DogCarePlatform.Common
@using System.Globalization
@{
    ViewData["Title"] = GlobalConstants.ListOwnerAppointments;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Вашите уговорки</h3>
<div>
    @foreach (var appointment in Model)
    {
        <div class="col s5 m6">
            <h2 class="header">@appointment.Dogsitter.FirstName @appointment.Dogsitter.LastName</h2>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="@appointment.Dogsitter.ImageUrl">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>@appointment.Date.ToString("dddd, dd MMMM yyyy", new CultureInfo("bg-BG")) от <b class="amber-text text-darken-1">@appointment.StartTime.ToString("HH:mm")</b> до <b class="amber-text text-darken-1">@appointment.EndTime.ToString("HH:mm")</b></p>
                    </div>
                    <div class="card-action right">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>